.header {
  margin: 0px;
  display: block;
  padding: 0px;
  overflow: hidden;
  font-size: 10px;
  line-height: normal;
  background-color: rgb(0, 52, 103);
}
.header:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.a {
  color: rgb(0, 136, 204);
  float: left;
  cursor: pointer;
  margin-top: 0px;
  margin-left: 0px;
  padding-top: 0px;
  margin-right: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-decoration-line: none;
}
.a:hover {
  outline-width: 0px;
}
.a:hover,.a:focus {
  color: rgb(0, 85, 128);
  text-decoration-line: underline;
}
.a:focus {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 5px;
  outline-offset: -2px;
}
.a:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
  outline-offset: 1px;
}
.logo {
  width: auto\9;
  border: 0;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  overflow-x: clip;
  overflow-y: clip;
  margin-left: 0px;
  padding-top: 0px;
  margin-right: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  vertical-align: middle;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  overflow-clip-margin: content-box;
}
.logo:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.ul {
  float: right;
  display: block;
  margin-top: 0px;
  margin-left: 0px;
  padding-top: 10px;
  margin-right: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  list-style-type: none;
}
.ul:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.li {
  color: rgb(188, 190, 192);
  display: inline-block;
  margin-top: 0px;
  text-align: -webkit-match-parent;
  font-weight: bold;
  line-height: 20px;
  margin-left: 0px;
  padding-top: 0px;
  margin-right: 0px;
  padding-left: 2px;
  margin-bottom: 0px;
  padding-right: 2px;
  padding-bottom: 0px;
}
.li:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.a1 {
  color: rgb(188, 190, 192);
  cursor: pointer;
  margin-top: 0px;
  font-weight: bold;
  margin-left: 0px;
  padding-top: 0px;
  margin-right: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-decoration-line: none;
}
.a1:hover {
  outline-width: 0px;
}
.a1:hover,.a1:focus {
  text-decoration-line: underline;
}
.a1:focus {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 5px;
  outline-offset: -2px;
}
.a1:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
  outline-offset: 1px;
}
.li1 {
  color: rgb(188, 190, 192);
  display: inline-block;
  margin-top: 0px;
  text-align: -webkit-match-parent;
  font-weight: bold;
  line-height: 20px;
  margin-left: 0px;
  padding-top: 0px;
  margin-right: 0px;
  padding-left: 2px;
  margin-bottom: 0px;
  padding-right: 2px;
  padding-bottom: 0px;
}
.li1:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.a2 {
  color: rgb(188, 190, 192);
  cursor: pointer;
  margin-top: 0px;
  font-weight: bold;
  margin-left: 0px;
  padding-top: 0px;
  margin-right: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-decoration-line: none;
}
.a2:hover {
  outline-width: 0px;
}
.a2:hover,.a2:focus {
  text-decoration-line: underline;
}
.a2:focus {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 5px;
  outline-offset: -2px;
}
.a2:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
  outline-offset: 1px;
}
.li2 {
  color: rgb(188, 190, 192);
  display: inline-block;
  margin-top: 0px;
  text-align: -webkit-match-parent;
  font-weight: bold;
  line-height: 20px;
  margin-left: 0px;
  padding-top: 0px;
  margin-right: 0px;
  padding-left: 2px;
  margin-bottom: 0px;
  padding-right: 2px;
  padding-bottom: 0px;
}
.li2:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.a3 {
  color: rgb(188, 190, 192);
  cursor: pointer;
  margin-top: 0px;
  font-weight: bold;
  margin-left: 0px;
  padding-top: 0px;
  margin-right: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-decoration-line: none;
}
.a3:hover {
  outline-width: 0px;
}
.a3:hover,.a3:focus {
  text-decoration-line: underline;
}
.a3:focus {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 5px;
  outline-offset: -2px;
}
.a3:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
  outline-offset: 1px;
}
.li3 {
  color: rgb(188, 190, 192);
  display: inline-block;
  margin-top: 0px;
  text-align: -webkit-match-parent;
  font-weight: bold;
  line-height: 20px;
  margin-left: 0px;
  padding-top: 0px;
  margin-right: 0px;
  padding-left: 2px;
  margin-bottom: 0px;
  padding-right: 2px;
  padding-bottom: 0px;
}
.li3:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.a4 {
  color: rgb(188, 190, 192);
  cursor: pointer;
  margin-top: 0px;
  font-weight: bold;
  margin-left: 0px;
  padding-top: 0px;
  margin-right: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-decoration-line: none;
}
.a4:hover {
  outline-width: 0px;
}
.a4:hover,.a4:focus {
  text-decoration-line: underline;
}
.a4:focus {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 5px;
  outline-offset: -2px;
}
.a4:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
  outline-offset: 1px;
}
.li4 {
  color: rgb(188, 190, 192);
  display: inline-block;
  margin-top: 0px;
  text-align: -webkit-match-parent;
  font-weight: bold;
  line-height: 20px;
  margin-left: 0px;
  padding-top: 0px;
  margin-right: 0px;
  padding-left: 2px;
  margin-bottom: 0px;
  padding-right: 2px;
  padding-bottom: 0px;
}
.li4:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.a5 {
  color: rgb(188, 190, 192);
  cursor: pointer;
  margin-top: 0px;
  font-weight: bold;
  margin-left: 0px;
  padding-top: 0px;
  margin-right: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-decoration-line: none;
}
.a5:hover {
  outline-width: 0px;
}
.a5:hover,.a5:focus {
  text-decoration-line: underline;
}
.a5:focus {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 5px;
  outline-offset: -2px;
}
.a5:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
  outline-offset: 1px;
}
.li5 {
  color: rgb(188, 190, 192);
  display: inline-block;
  margin-top: 0px;
  text-align: -webkit-match-parent;
  font-weight: bold;
  line-height: 20px;
  margin-left: 0px;
  padding-top: 0px;
  margin-right: 0px;
  padding-left: 8px;
  margin-bottom: 0px;
  padding-right: 2px;
  padding-bottom: 0px;
}
.li5:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.a6 {
  color: rgb(188, 190, 192);
  cursor: pointer;
  margin-top: 0px;
  font-weight: bold;
  margin-left: 0px;
  padding-top: 0px;
  margin-right: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-decoration-line: none;
}
.a6:hover {
  outline-width: 0px;
}
.a6:hover,.a6:focus {
  text-decoration-line: underline;
}
.a6:focus {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 5px;
  outline-offset: -2px;
}
.a6:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
  outline-offset: 1px;
}
.img {
  width: auto\9;
  border: 0;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  overflow-x: clip;
  overflow-y: clip;
  margin-left: 0px;
  padding-top: 0px;
  aspect-ratio: auto 138 / 37;
  margin-right: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  vertical-align: middle;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  overflow-clip-margin: content-box;
}
.img:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}
.img1 {
  float: right;
  width: auto\9;
  border: 0;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  overflow-x: clip;
  overflow-y: clip;
  margin-left: 0px;
  padding-top: 0px;
  margin-right: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  vertical-align: middle;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  overflow-clip-margin: content-box;
}
.img1:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}

@media(max-width: 768px) {
  .header {
    font-size: 10px;
    line-height: normal;
  }
  .header,.a {
    box-sizing: unset;
  }
  .a {
    color: rgb(0, 136, 204);
    background-color: unset;
  }
  .logo {
    width: auto\9;
    display: unset;
  }
  .logo,.ul {
    box-sizing: unset;
  }
  .ul {
    display: block;
    list-style-type: none;
  }
  .li {
    display: inline-block;
    line-height: 20px;
    padding-left: 2px;
    padding-right: 2px;
  }
  .li,.a1 {
    color: rgb(188, 190, 192);
    box-sizing: unset;
    font-weight: bold;
  }
  .a1 {
    background-color: unset;
  }
  .li1 {
    display: inline-block;
    line-height: 20px;
    padding-left: 2px;
    padding-right: 2px;
  }
  .li1,.a2 {
    color: rgb(188, 190, 192);
    box-sizing: unset;
    font-weight: bold;
  }
  .a2 {
    background-color: unset;
  }
  .li2 {
    display: inline-block;
    line-height: 20px;
    padding-left: 2px;
    padding-right: 2px;
  }
  .li2,.a3 {
    color: rgb(188, 190, 192);
    box-sizing: unset;
    font-weight: bold;
  }
  .a3 {
    background-color: unset;
  }
  .li3 {
    display: inline-block;
    line-height: 20px;
    padding-left: 2px;
    padding-right: 2px;
  }
  .li3,.a4 {
    color: rgb(188, 190, 192);
    box-sizing: unset;
    font-weight: bold;
  }
  .a4 {
    background-color: unset;
  }
  .li4 {
    display: inline-block;
    line-height: 20px;
    padding-left: 2px;
    padding-right: 2px;
  }
  .li4,.a5 {
    color: rgb(188, 190, 192);
    box-sizing: unset;
    font-weight: bold;
  }
  .a5 {
    background-color: unset;
  }
  .li5 {
    display: inline-block;
    line-height: 20px;
    padding-left: 8px;
    padding-right: 2px;
  }
  .li5,.a6 {
    color: rgb(188, 190, 192);
    box-sizing: unset;
    font-weight: bold;
  }
  .a6 {
    background-color: unset;
  }
  .img,.img1 {
    width: auto\9;
    display: unset;
    box-sizing: unset;
  }
}
@media(max-width: 480px) {
  .header {
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: rgb(0, 52, 103);
  }
  .header,.a {
    box-sizing: border-box;
    margin-top: 0px;
    margin-left: 0px;
    padding-top: 0px;
    margin-right: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .a {
    color: rgb(51, 122, 183);
    float: left;
    cursor: pointer;
    background-color: transparent;
    text-decoration-line: none;
  }
  .logo {
    border: 0;
    height: auto;
    display: block;
    max-width: 100%;
    overflow-x: clip;
    overflow-y: clip;
    padding-top: 0px;
    padding-right: 0px;
    vertical-align: middle;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    overflow-clip-margin: content-box;
  }
  .logo,.ul {
    box-sizing: border-box;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .ul {
    float: right;
    display: none;
    padding-top: 10px;
    padding-right: 10px;
    list-style-type: disc;
  }
  .li {
    display: list-item;
    text-align: -webkit-match-parent;
  }
  .li,.a1 {
    box-sizing: border-box;
    margin-top: 0px;
    margin-left: 0px;
    padding-top: 0px;
    margin-right: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .a1 {
    color: rgb(51, 122, 183);
    cursor: pointer;
    background-color: transparent;
    text-decoration-line: none;
  }
  .li1 {
    display: list-item;
    text-align: -webkit-match-parent;
  }
  .li1,.a2 {
    box-sizing: border-box;
    margin-top: 0px;
    margin-left: 0px;
    padding-top: 0px;
    margin-right: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .a2 {
    color: rgb(51, 122, 183);
    cursor: pointer;
    background-color: transparent;
    text-decoration-line: none;
  }
  .li2 {
    display: list-item;
    text-align: -webkit-match-parent;
  }
  .li2,.a3 {
    box-sizing: border-box;
    margin-top: 0px;
    margin-left: 0px;
    padding-top: 0px;
    margin-right: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .a3 {
    color: rgb(51, 122, 183);
    cursor: pointer;
    background-color: transparent;
    text-decoration-line: none;
  }
  .li3 {
    display: list-item;
    text-align: -webkit-match-parent;
  }
  .li3,.a4 {
    box-sizing: border-box;
    margin-top: 0px;
    margin-left: 0px;
    padding-top: 0px;
    margin-right: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .a4 {
    color: rgb(51, 122, 183);
    cursor: pointer;
    background-color: transparent;
    text-decoration-line: none;
  }
  .li4 {
    display: list-item;
    text-align: -webkit-match-parent;
  }
  .li4,.a5 {
    box-sizing: border-box;
    margin-top: 0px;
    margin-left: 0px;
    padding-top: 0px;
    margin-right: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .a5 {
    color: rgb(51, 122, 183);
    cursor: pointer;
    background-color: transparent;
    text-decoration-line: none;
  }
  .li5 {
    display: list-item;
    text-align: -webkit-match-parent;
  }
  .li5,.a6 {
    box-sizing: border-box;
    margin-top: 0px;
    margin-left: 0px;
    padding-top: 0px;
    margin-right: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .a6 {
    color: rgb(51, 122, 183);
    cursor: pointer;
    background-color: transparent;
    text-decoration-line: none;
  }
  .img {
    width: 138px;
    aspect-ratio: auto 138 / 37;
  }
  .img,.img1 {
    border: 0;
    height: auto;
    display: block;
    max-width: 100%;
    box-sizing: border-box;
    margin-top: 0px;
    overflow-x: clip;
    overflow-y: clip;
    margin-left: 0px;
    padding-top: 0px;
    margin-right: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    vertical-align: middle;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    overflow-clip-margin: content-box;
  }
  .img1 {
    float: right;
  }
}
